/Comment$NoComment.class
/Comment$Tag.class
/Comment.class
/ConstantLengthArrayType.class
/ContainerType.class
/Declaration.class
/EnumType.class
/Field.class
/FieldLike.class
/GroundType.class
/Hint$Type.class
/Hint.class
/InterfaceType.class
/LanguageCustomization.class
/ListType.class
/MapType.class
/Name.class
/ParseException.class
/ReferenceType.class
/Restriction.class
/SetType.class
/SingleBaseTypeContainer.class
/Type.class
/TypeContext$PointerType.class
/TypeContext.class
/Typedef.class
/UserType.class
/VariableLengthArrayType.class
/View.class
/WithFields.class
